

body {
	width: 1000px;
	margin: 0 auto;
	background: #fafafa;
	font-family: "Helvetica Neue", sans-serif;
	color: #444444;
}

header {
	margin: 40px 0;
	padding: 20px 0;
}

nav {
	text-align: right
}

nav div {
	float: left;
}

nav span,
nav a {
	padding: 10px;
}

nav span {
	font-size: 14px;
	font-style: italic;
	color: #999;
}

nav a {
	text-decoration: none;
	color: #01A9DB;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}

nav a:hover {
	color: #444444;
}